<div class="row text-left" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12" *ngIf="dealsData.delalType === 'Category'">
        <div class="card bg-success">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3>{{dealsData.category.title}}</h3>
                            <span>{{'Category'| translate}}</span>
                        </div>
                        <div class="media-right align-self-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12" *ngIf="dealsData.delalType === 'Product'">
        <div class="card bg-primary">
            <div class="card-content">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3>{{dealsData.product.title}}</h3>
                            <span>{{'Products' | translate}}</span>
                        </div>
                        <div class="media-right align-self-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12">
        <h5 style="font-weight:bold">{{'Deals Offer' | translate}}(%)</h5>
        <p>{{dealsData.delaPercent}}</p>
        <h5 style="font-weight:bold">{{dealsData.delalType === 'Category' ? "Category" : "Product"}}</h5>
        <p>
            {{dealsData.delalType === 'Category' ? dealsData.category.title : dealsData.product.title}}
        </p>
    </div>
</div>